/* CSS declarations go here */
body {
    font-family: seravek, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.selected {
    background-color: yellow;
    font-color: red;
    font-weight: 300;
    font-family: Optima;
    font-size: 22px;
}

table, th, td {
    border: 1px solid brown;
}

th,td {
    text-align: center;
    padding: 15px;
}


th {
    background-color: #d4d4d4;
    font-size: 24px;
    font-family: Menlo;
}
